In [1]:
import pandas as pd

In [2]:
life_expectancy = "resources/life_expectancy.csv"

data = pd.read_csv(life_expectancy)

In [3]:
len(data)

2938

In [4]:
data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [5]:
data.columns = ['Country', 'Year', 'Status', 'Life Expectancy', 'Adult Mortality',
       'Infant Deaths', 'Alcohol', 'Percentage Expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'Under-5yo Deaths', 'Polio', 'Total Expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population',
       'Thinness  1-19 yrs', 'Thinness 5-9 yrs',
       'Income Composition of Resources', 'Schooling']

In [6]:
data.columns

Index(['Country', 'Year', 'Status', 'Life Expectancy', 'Adult Mortality',
       'Infant Deaths', 'Alcohol', 'Percentage Expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'Under-5yo Deaths', 'Polio', 'Total Expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'Thinness  1-19 yrs',
       'Thinness 5-9 yrs', 'Income Composition of Resources', 'Schooling'],
      dtype='object')

In [7]:
data["Percentage Expenditure"] = data["Percentage Expenditure"].map("{:,.2f}%".format)
data["GDP"] = data["GDP"].map("{:,.3f}".format)

In [8]:
data.head()

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Polio,Total Expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 yrs,Thinness 5-9 yrs,Income Composition of Resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.28%,65.0,1154,...,6.0,8.16,65.0,0.1,584.259,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.52%,62.0,492,...,58.0,8.18,62.0,0.1,612.697,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.22%,64.0,430,...,62.0,8.13,64.0,0.1,631.745,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.18%,67.0,2787,...,67.0,8.52,67.0,0.1,669.959,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.10%,68.0,3013,...,68.0,7.87,68.0,0.1,63.537,2978599.0,18.2,18.2,0.454,9.5

In [9]:
data["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', "CÃ´te d'Ivoire", 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
data.count()

Country                            2938
Year                               2938
Status                             2938
Life Expectancy                    2928
Adult Mortality                    2928
Infant Deaths                      2938
Alcohol                            2744
Percentage Expenditure             2938
Hepatitis B                        2385
Measles                            2938
BMI                                2904
Under-5yo Deaths                   2938
Polio                              2919
Total Expenditure                  2712
Diphtheria                         2919
HIV/AIDS                           2938
GDP                                2938
Population                         2286
Thinness  1-19 yrs                 2904
Thinness 5-9 yrs                   2904
Income Composition of Resources    2771
Schooling                          2775
dtype: int64

In [11]:
data = data.dropna(how='any')

In [12]:
data.count()

Country                            1657
Year                               1657
Status                             1657
Life Expectancy                    1657
Adult Mortality                    1657
Infant Deaths                      1657
Alcohol                            1657
Percentage Expenditure             1657
Hepatitis B                        1657
Measles                            1657
BMI                                1657
Under-5yo Deaths                   1657
Polio                              1657
Total Expenditure                  1657
Diphtheria                         1657
HIV/AIDS                           1657
GDP                                1657
Population                         1657
Thinness  1-19 yrs                 1657
Thinness 5-9 yrs                   1657
Income Composition of Resources    1657
Schooling                          1657
dtype: int64

In [13]:
data.head()

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Polio,Total Expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 yrs,Thinness 5-9 yrs,Income Composition of Resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.28%,65.0,1154,...,6.0,8.16,65.0,0.1,584.259,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.52%,62.0,492,...,58.0,8.18,62.0,0.1,612.697,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.22%,64.0,430,...,62.0,8.13,64.0,0.1,631.745,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.18%,67.0,2787,...,67.0,8.52,67.0,0.1,669.959,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.10%,68.0,3013,...,68.0,7.87,68.0,0.1,63.537,2978599.0,18.2,18.2,0.454,9.5

In [14]:
data.dtypes

Country                             object
Year                                 int64
Status                              object
Life Expectancy                    float64
Adult Mortality                    float64
Infant Deaths                        int64
Alcohol                            float64
Percentage Expenditure              object
Hepatitis B                        float64
Measles                              int64
BMI                                float64
Under-5yo Deaths                     int64
Polio                              float64
Total Expenditure                  float64
Diphtheria                         float64
HIV/AIDS                           float64
GDP                                 object
Population                         float64
Thinness  1-19 yrs                 float64
Thinness 5-9 yrs                   float64
Income Composition of Resources    float64
Schooling                          float64
dtype: object

In [15]:
data["Status"].value_counts()

Developing    1415
Developed      242
Name: Status, dtype: int64

In [16]:
data.describe()

,Year,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Hepatitis B,Measles,BMI,Under-5yo Deaths,Polio,Total Expenditure,Diphtheria,HIV/AIDS,Population,Thinness 1-19 yrs,Thinness 5-9 yrs,Income Composition of Resources,Schooling
count,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1.657000e+03,1657.000000,1657.000000,1657.000000,1657.000000
mean,2007.850935,69.299819,168.074231,32.444176,4.513271,79.161738,2214.615570,38.173325,44.065782,83.421847,5.943808,83.972842,1.974774,1.460569e+07,4.857333,4.913096,0.631559,12.116295
std,4.086784,8.781483,125.150716,120.566224,4.029705,25.577115,10062.430303,19.748093,162.520470,22.592244,2.300552,21.762633,6.019189,7.029555e+07,4.589155,4.643184,0.182654,2.790640
min,2000.000000,44.000000,1.000000,0.000000,0.010000,2.000000,0.000000,2.000000,0.000000,3.000000,0.740000,2.000000,0.100000,3.400000e+01,0.100000,0.100000,0.000000,4.200000
25%,2005.000000,64.400000,77.000000,1.000000,0.760000,74.000000,0.000000,19.500000,1.000000,81.000000,4.380000,81.000000,0.100000,1.918970e+05,1.600000,1.700000,0.511000,10.300000
50%,2008.000000,71.700000,148.000000,3.000000,3.760000,89.000000,15.000000,43.800000,4.000000,93.000000,5.830000,92.000000,0.100000,1.425221e+06,3.100000,3.200000,0.672000,12.300000
75%,2011.000000,75.000000,227.000000,22.000000,7.330000,96.000000,373.000000,55.800000,29.000000,97.000000,7.460000,97.000000,0.700000,7.592865e+06,7.000000,7.100000,0.750000,13.900000
max,2015.000000,89.000000,723.000000,1600.000000,17.870000,99.000000,131441.000000,77.100000,2100.000000,99.000000,14.390000,99.000000,50.600000,1.293859e+09,27.200000,28.200000,0.936000,20.700000

In [17]:
data.to_csv("resources/life_expectancy_clean.csv",index=False)